@use 'basic';
@use 'mixin';

#navbar {
    width: 100vw;
    height: 80px;
    background: rgba(basic.$primaryColor, 0.1);
    @include mixin.flex-box($align:flex-end);
    z-index: 5;
    position: relative;

    .navbar {
        @include mixin.flex-box(space-between, center);
        position: relative;

        &.fixed {
            position: fixed;
            background: lighten(basic.$primaryColor, $amount: 40);
            top: 0;
            left: 0;
            right: 0;
            -webkit-transition: 1s;
            transition: 1s;
            border-bottom: whitesmoke 2px solid;
            padding: 20px 40px;
            box-sizing: border-box;
        }

        .logo img {
            width: 50px;
        }

        .links {
            display: none;
            width: 50%;
            margin-left: -50px;

            ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                margin: 0;

                li {
                    list-style: none;

                    #logo {
                        width: 70px;
                        margin-top: 20px;
                    }

                    a {
                        line-height: 100px;
                        text-decoration: none;
                        color: basic.$textColor;
                        -webkit-transition: 0.5s;
                        transition: 0.5s;

                        &:hover {
                            color: rgb(189, 189, 189);
                        }

                    }

                    .link.active {
                        color: rgb(189, 189, 189);

                    }
                }
            }

        }

        .sidebar {
            position: relative;
            z-index: 2;

            .links {
                position: fixed;
                right: 0;
                top: 0;
                display: block;
                width: 0%;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                -webkit-transform: translate(0, 30);
                transform: translate(0, 30);

                &.active {
                    width: 50%;
                    visibility: visible;
                    -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
                    opacity: 1;
                }

                ul {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -ms-flex-pack: distribute;
                    justify-content: space-around;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    padding: 80px 0;
                    background: lighten(basic.$primaryColor, $amount: 40);
                    height: 100vmax;
                }
            }

            .hamburger {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                height: 25px;
                cursor: pointer;
                position: absolute;
                right: 2%;
                top: -40px;
                z-index: 3;
            }

            .hamburger span {
                display: block;
                width: 30px;
                height: 4px;
                background-color: basic.$textColor;
                border-radius: 36px;
                -webkit-transition: 0.7s;
                transition: 0.7s;
            }

            .hamburger .line1 {
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
            }

            .hamburger .line3 {
                -webkit-transform-origin: 0 100%;
                transform-origin: 0 100%;
            }

            .hamburger span.show1 {
                -webkit-transition: all 0.7s;
                transition: all 0.7s;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                background-color: white;

            }

            .hamburger span.show3 {
                -webkit-transition: all 0.7s;
                transition: all 0.7s;
                -webkit-transform: rotate(-45deg) translate(0, 0);
                transform: rotate(-45deg) translate(0, 0);
                background-color: white;
            }

            .hamburger span.show2 {
                opacity: 0;
                -webkit-transition: all 0.7s;
                transition: all 0.7s;
            }

        }


    }

    @media (min-width: 992px) {
        height: 100px;
        background: rgba(basic.$primaryColor, 0.2);

        .navbar {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            &.fixed {
                position: fixed;
                background: lighten(basic.$primaryColor, $amount: 50);
                top: 0;
                left: 0;
                right: 0;
                -webkit-transition: 1s;
                transition: 1s;
                border-bottom: whitesmoke 2px solid;
                padding: 0;
            }

            .logo img {
                display: none;
            }

            .links {
                display: block;
            }

            .sidebar {
                .hamburger {
                    display: none;
                }
            }
        }
    }
}