@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
body {
  font-family: "Cormorant", serif;
  color: #242526;
  background-color: rgba(196, 196, 196, 0.1);
}

#navbar {
  width: 100vw;
  height: 80px;
  background: rgba(126, 128, 117, 0.1);
  display: flex;
  align-items: center;
  z-index: 5;
  position: relative;
}
#navbar .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#navbar .navbar.fixed {
  position: fixed;
  background: #e1e2df;
  top: 0;
  left: 0;
  right: 0;
  transition: 1s;
  border-bottom: whitesmoke 2px solid;
  padding: 20px 40px;
  box-sizing: border-box;
}
#navbar .navbar .logo img {
  width: 50px;
}
#navbar .navbar .links {
  display: none;
  width: 50%;
  margin-left: -50px;
}
#navbar .navbar .links ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
#navbar .navbar .links ul li {
  list-style: none;
}
#navbar .navbar .links ul li #logo {
  width: 70px;
  margin-top: 20px;
}
#navbar .navbar .links ul li a {
  line-height: 100px;
  text-decoration: none;
  color: #242526;
  transition: 0.5s;
}
#navbar .navbar .links ul li a:hover {
  color: #bdbdbd;
}
#navbar .navbar .links ul li .link.active {
  color: #bdbdbd;
}
#navbar .navbar .sidebar {
  position: relative;
  z-index: 2;
}
#navbar .navbar .sidebar .links {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  width: 0%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translate(0, 30);
}
#navbar .navbar .sidebar .links.active {
  width: 50%;
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1;
}
#navbar .navbar .sidebar .links ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0;
  background: #e1e2df;
  height: 100vmax;
}
#navbar .navbar .sidebar .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: -40px;
  z-index: 3;
}
#navbar .navbar .sidebar .hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #242526;
  border-radius: 36px;
  transition: 0.7s;
}
#navbar .navbar .sidebar .hamburger .line1 {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
#navbar .navbar .sidebar .hamburger .line3 {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
#navbar .navbar .sidebar .hamburger span.show1 {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
}
#navbar .navbar .sidebar .hamburger span.show3 {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform: rotate(-45deg) translate(0, 0);
  transform: rotate(-45deg) translate(0, 0);
  background-color: white;
}
#navbar .navbar .sidebar .hamburger span.show2 {
  opacity: 0;
  transition: all 0.7s;
}
@media (min-width: 992px) {
  #navbar {
    height: 100px;
    background: rgba(126, 128, 117, 0.2);
  }
  #navbar .navbar {
    flex-direction: column;
  }
  #navbar .navbar.fixed {
    position: fixed;
    background: #fafafa;
    top: 0;
    left: 0;
    right: 0;
    transition: 1s;
    border-bottom: whitesmoke 2px solid;
    padding: 0;
  }
  #navbar .navbar .logo img {
    display: none;
  }
  #navbar .navbar .links {
    display: block;
  }
  #navbar .navbar .sidebar .hamburger {
    display: none;
  }
}

#jumbotron {
  margin-top: -80px;
  background-color: #7E8075;
  background-image: url("../assets/img/jumbotron.jpg");
  background-size: cover;
  height: 100vh;
  background-position-x: 52%;
}
#jumbotron .container {
  display: flex;
  height: 100vh;
}
#jumbotron .container .caption {
  margin: auto auto 30px auto;
  border: 2px solid white;
  padding: 0.3em;
  background-color: rgba(126, 128, 117, 0.5);
}
#jumbotron .container .caption h3 {
  font-size: 3vmax;
  font-family: "Caveat", cursive;
  color: whitesmoke;
}
@media (min-width: 992px) {
  #jumbotron {
    margin-top: -100px;
    background-position-x: 80%;
  }
  #jumbotron .container .caption h3 {
    font-size: 1.5em;
  }
}

#about {
  padding: 185px 0 80px 0;
}
#about .about {
  padding: 0 20px;
}
#about .about p {
  font-size: 1em;
}
@media (max-width: 992px) {
  #about .about-left {
    order: 2;
  }
  #about .about-right {
    order: 1;
  }
}
@media (max-width: 992px) {
  #about {
    padding: 135px 0 50px 0;
  }
}

#parallax1 {
  width: 100%;
  height: 700px;
  background-image: url("../assets/img//slide2.JPG");
  background-color: #7E8075;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

#portfolio {
  padding: 100px 0 80px 0;
}
#portfolio h1 {
  text-align: center;
  color: #242526;
}
#portfolio .thumbnails {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#portfolio .thumbnails .thumbnail {
  width: 300px;
  height: 350px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  transform: translate(0, -50px);
  opacity: 0;
}
#portfolio .thumbnails .thumbnail .btn-porto {
  text-decoration: none;
}
#portfolio .thumbnails .thumbnail img {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}
#portfolio .thumbnails .thumbnail img:hover {
  opacity: 0.8;
}
#portfolio .thumbnails .thumbnail h3 {
  text-align: center;
  color: #242526;
  transition: 0.5s;
  cursor: pointer;
}
#portfolio .thumbnails .thumbnail h3:hover {
  color: #bdbdbd;
}
#portfolio .thumbnails .thumbnail.show {
  opacity: 1;
  transform: translate(0, 0);
}
@media (max-width: 992px) {
  #portfolio {
    padding: 80px 0;
  }
}

#parallax2 {
  width: 100%;
  height: 700px;
  background-image: url("../assets/img//slide3.JPG");
  background-color: #7E8075;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

#slideshow {
  width: 100vw;
  padding: 100px 0 80px 0;
}
@media (max-width: 992px) {
  #slideshow {
    padding: 80px 0;
  }
}

#contact {
  padding: 50px 0;
}
#contact .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#contact .container .contact {
  width: 230px;
  height: 150px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#contact .container .contact img {
  width: 80px;
}

#content {
  padding: 50px 0;
}
#content h5 {
  margin-left: 25px;
}
#content .back {
  text-decoration: none;
  color: #242526;
  transition: 0.5s;
}
#content .back:hover {
  color: #bdbdbd;
}
#content .contents {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#content .contents .content {
  margin-top: 40px;
  width: 320px;
}
#content .contents .content .btn-detail {
  text-decoration: none;
  color: #242526;
}
#content .contents .content h3 {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}
#content .contents .content h3:hover {
  color: #bdbdbd;
}
#content #contentLoader p {
  text-align: center;
  margin-top: -40px;
  font-size: 12px;
}
#content #contentLoader.container {
  width: 330px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content #contentLoader .divLoader {
  transform: scale(0.4);
}
#content #contentLoader {
  display: flex;
}

#detail {
  padding: 50px 0;
}
#detail .back {
  text-decoration: none;
  color: #242526;
  transition: 0.5s;
}
#detail .back:hover {
  color: #bdbdbd;
}
#detail .details {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#detail .details .detail {
  margin-top: 40px;
  width: 400px;
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
}
#detail .details .detail:hover {
  opacity: 0.7;
}
#detail #detailLoader p {
  text-align: center;
  margin-top: -40px;
  font-size: 12px;
}
#detail #detailLoader.container {
  width: 330px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#detail #detailLoader .divLoader {
  transform: scale(0.4);
}
#detail #detailLoader {
  display: flex;
}

#modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  /* Modal Content (image) */
}
#modal #close-modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 24px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#modal .modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 700px;
}

/*# sourceMappingURL=main.css.map */
