@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
body {
  font-family: 'Cormorant', serif;
  color: #242526;
}

#navbar {
  width: 100vw;
  height: 80px;
  background: rgba(126, 128, 117, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  position: relative;
}

#navbar .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#navbar .navbar.fixed {
  position: fixed;
  background: #fafafa;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
  border-bottom: whitesmoke 2px solid;
  padding: 0;
}

#navbar .navbar .logo img {
  width: 50px;
}

#navbar .navbar .links {
  display: none;
  width: 50%;
  margin-left: -50px;
}

#navbar .navbar .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

#navbar .navbar .links ul li {
  list-style: none;
}

#navbar .navbar .links ul li #logo {
  width: 70px;
  margin-top: 20px;
}

#navbar .navbar .links ul li a {
  line-height: 100px;
  text-decoration: none;
  color: #242526;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .navbar .links ul li a:hover {
  color: #bdbdbd;
}

#navbar .navbar .sidebar {
  position: relative;
  z-index: 2;
}

#navbar .navbar .sidebar .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: -40px;
  z-index: 3;
}

#navbar .navbar .sidebar .hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #242526;
  border-radius: 36px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (min-width: 992px) {
  #navbar {
    height: 100px;
    background: rgba(126, 128, 117, 0.2);
  }
  #navbar .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navbar .navbar .logo img {
    display: none;
  }
  #navbar .navbar .links {
    display: block;
  }
  #navbar .navbar .sidebar .hamburger {
    display: none;
  }
}

#jumbotron {
  margin-top: -80px;
  background-color: #7E8075;
  background-image: url("../assets/img/jumbotron.jpg");
  background-size: cover;
  height: 100vh;
  background-position-x: 52%;
}

#jumbotron .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

#jumbotron .container .caption {
  margin: auto auto 30px auto;
  border: 2px solid white;
  padding: 0.3em;
  background-color: rgba(126, 128, 117, 0.5);
}

#jumbotron .container .caption h3 {
  font-size: 3vmax;
  font-family: 'Caveat', cursive;
  color: whitesmoke;
}

@media (min-width: 992px) {
  #jumbotron {
    margin-top: -135px;
    background-position-x: 80%;
  }
  #jumbotron .container .caption h3 {
    font-size: 1.5em;
  }
}

#about {
  padding: 185px 0 80px 0;
}

#about .about {
  padding: 0 20px;
}

#about .about p {
  font-size: 1em;
}

@media (max-width: 992px) {
  #about .about-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #about .about-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 992px) {
  #about {
    padding: 135px 0 50px 0;
  }
}

#portfolio {
  padding: 185px 0 80px 0;
}

#portfolio h1 {
  text-align: center;
  color: #242526;
}

#portfolio .thumbnails {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#portfolio .thumbnails .thumbnail {
  width: 300px;
  height: 350px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#portfolio .thumbnails h3 {
  text-align: center;
  color: #242526;
}

@media (max-width: 992px) {
  #portfolio {
    padding: 80px 0;
  }
}

#slideshow {
  padding: 185px 0 80px 0;
}

@media (max-width: 992px) {
  #slideshow {
    padding: 80px 0;
  }
}
